/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$lightblue: #4286f4;
$porscheblue: #95b1bc;
$lightgrey: #bababa;
$lightergrey: #e2e2e2;
$darkred: #ad2424;
$lightred: #e20000;
$darkgrey: #333;
$instacolor: #e95950;
$youtubecolor: #F41414;
$twittercolor: #33C7FF;
$facecolor: #3b5998;
$darkopacity: rgba(25, 31, 34, .5);
/* Components */
